In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
###from google.colab import drive
###drive.mount('/content/drive')

In [3]:
#%cd /content/drive/MyDrive/Colab Notebooks

In [4]:
df = pd.read_csv('batters.csv')

In [5]:
df.head()

,name,team_played_against,runs,balls,fours,sixes,team_batting_first_or_second,stadium,weather_conditions,league,type
0,Ishan Kishan,Sri Lanka,23,18,3,0,S,R Premadasa,Clear,Asia Cup,ODI
1,Shubman Gill,Sri Lanka,27,19,6,0,S,R Premadasa,Clear,Asia Cup,ODI
2,Rohit Sharma,Bangladesh,0,2,0,0,S,R Premadasa,Clear,Asia Cup,ODI
3,Shubman Gill,Bangladesh,121,133,8,5,S,R Premadasa,Clear,Asia Cup,ODI
4,Tilak Varma,Bangladesh,5,9,1,0,S,R Premadasa,Clear,Asia Cup,ODI

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   name                          41 non-null     object
 1   team_played_against           41 non-null     object
 2   runs                          41 non-null     int64
 3   balls                         41 non-null     int64
 4   fours                         41 non-null     int64
 5   sixes                         41 non-null     int64
 6   team_batting_first_or_second  41 non-null     object
 7   stadium                       41 non-null     object
 8   weather_conditions            41 non-null     object
 9   league                        41 non-null     object
 10  type                          41 non-null     object
dtypes: int64(4), object(7)
memory usage: 3.7+ KB

In [7]:
#names
df['name'].value_counts()

name
Shubman Gill        6
Rohit Sharma        5
Ishan Kishan        4
Virat Kohli         3
KL Rahul            3
Ravindra Jadeja     3
Mohammed Siraj      2
Kuldeep Yadav       2
Jasprit Bumrah      2
Hardik Pandya       2
Shardul Thakur      2
Axar Patel          2
Prasidh Krishna     1
Mohammed Shami      1
Suryakumar Yadav    1
Tilak Varma         1
Shreyas Iyer        1
Name: count, dtype: int64

In [8]:
df["name"].replace(['Shubman Gill'], 0, inplace=True)
df["name"].replace(['Rohit Sharma'], 1, inplace=True)
df["name"].replace(['Ishan Kishan'], 2, inplace=True)
df["name"].replace(['Virat Kohli'], 3, inplace=True)
df["name"].replace(['KL Rahul'], 4, inplace=True)
df["name"].replace(['Ravindra Jadeja'], 5, inplace=True)
df["name"].replace(['Mohammed Shami'], 6, inplace=True)
df["name"].replace(['Kuldeep Yadav'], 7, inplace=True)
df["name"].replace(['Jasprit Bumrah'], 8, inplace=True)
df["name"].replace(['Hardik Pandya'], 9, inplace=True)
df["name"].replace(['Shardul Thakur'], 10, inplace=True)
df["name"].replace(['Axar Patel'], 11, inplace=True)
df["name"].replace(['Prasidh Krishna'], 12, inplace=True)
df["name"].replace(['Mohammed Shami'], 13, inplace=True)
df["name"].replace(['Suryakumar Yadav'], 14, inplace=True)
df["name"].replace(['Tilak Varma'], 15, inplace=True)
df["name"].replace(['Shreyas Iyer'], 16, inplace=True)
df["name"].replace(['Mohammed Siraj'], 17, inplace=True)

In [9]:
#team_played_against
df['team_played_against'].value_counts()

team_played_against
Pakistan      15
Sri Lanka     13
Bangladesh    11
Nepal          2
Name: count, dtype: int64

In [10]:
df["team_played_against"].replace(['Sri Lanka'], 0, inplace=True)
df["team_played_against"].replace(['Nepal'], 1, inplace=True)
df["team_played_against"].replace(['Pakistan'], 2, inplace=True)
df["team_played_against"].replace(['Bangladesh'], 3, inplace=True)

In [11]:
#team_batting_first_or_second
df['team_batting_first_or_second'].value_counts()

team_batting_first_or_second
F    26
S    15
Name: count, dtype: int64

In [12]:
df["team_batting_first_or_second"].replace(['S'], 0, inplace=True)
df["team_batting_first_or_second"].replace(['F'], 1, inplace=True)

In [13]:
#stadium
df['stadium'].value_counts()

stadium
R Premadasa    28
Pallekele      13
Name: count, dtype: int64

In [14]:
df["stadium"].replace(['R Premadasa'], 0, inplace=True)
df["stadium"].replace(['Pallekele'], 1, inplace=True)

In [15]:
#weather_conditions
df['weather_conditions'].value_counts()

weather_conditions
Clear    28
Rain     13
Name: count, dtype: int64

In [16]:
df["weather_conditions"].replace(['Clear'], 0, inplace=True)
df["weather_conditions"].replace(['Rain'], 1, inplace=True)

In [17]:
#league
df['league'].value_counts()

league
Asia Cup    41
Name: count, dtype: int64

In [18]:
df["league"].replace(['Asia Cup'], 0, inplace=True)

In [19]:
#type
df['type'].value_counts()

type
ODI    41
Name: count, dtype: int64

In [20]:
df["type"].replace(['ODI'], 0, inplace=True)

In [21]:
df.head()

,name,team_played_against,runs,balls,fours,sixes,team_batting_first_or_second,stadium,weather_conditions,league,type
0,2,0,23,18,3,0,0,0,0,0,0
1,0,0,27,19,6,0,0,0,0,0,0
2,1,3,0,2,0,0,0,0,0,0,0
3,0,3,121,133,8,5,0,0,0,0,0
4,15,3,5,9,1,0,0,0,0,0,0

In [22]:
# Concatenate 'fours' and 'sixes' into a new column 'boundaries'
df['boundaries'] = df['fours'].astype(int) + df['sixes'].astype(int)

# Drop the original 'fours' and 'sixes' columns
df.drop(['fours', 'sixes'], axis=1, inplace=True)

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.multioutput import MultiOutputRegressor
from sklearn.metrics import mean_squared_error

X = df.drop(['runs', 'boundaries'], axis=1)
y = df[['runs', 'boundaries']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

base_regressor = Ridge()  # Use Ridge regression instead of RandomForestRegressor

multi_output_regressor = MultiOutputRegressor(base_regressor)

multi_output_regressor.fit(X_train, y_train)

predictions = multi_output_regressor.predict(X_test)

mse_runs = mean_squared_error(y_test['runs'], predictions[:, 0])
mse_boundaries = mean_squared_error(y_test['boundaries'], predictions[:, 1])

print(f'Mean Squared Error (Runs): {mse_runs}')
print(f'Mean Squared Error (Boundaries): {mse_boundaries}')

Mean Squared Error (Runs): 72.86546578694615
Mean Squared Error (Boundaries): 11.05163899122912

In [24]:
import pandas as pd

# Assuming multi_output_regressor is your trained model
# and X_train is the feature set used for training

# Create a new DataFrame with your own values
new_data = pd.DataFrame({
    'name': [3],
    'team_played_against': [2],
    'balls': [25],
    'team_batting_first_or_second': [0],
    'stadium': [1],
    'weather_conditions': [0],
    'league': [0],
    'type': [0],
})

# Use the trained model to make predictions on the new data
predictions = multi_output_regressor.predict(new_data)

# Extract the predicted values for runs and wickets
predicted_runs = predictions[0, 0]
predicted_boundaries = predictions[0, 1]

print(f'Predicted Runs: {predicted_runs}')
print(f'Predicted Boundaries: {predicted_boundaries}')

Predicted Runs: 23.63299864200803
Predicted Boundaries: 3.55604407267206

In [25]:
# Assuming multi_output_regressor is your trained model
# and X_train is the feature set used for training

# Create a new DataFrame with your own values
new_data = pd.DataFrame({
    'name': [2],
    'team_played_against': [2],
    'balls': [25],
    'team_batting_first_or_second': [0],
    'stadium': [1],
    'weather_conditions': [0],
    'league': [0],
    'type': [0],
})

# Use the trained model to make predictions on the new data
predictions = multi_output_regressor.predict(new_data)

# Extract the predicted values for runs and wickets
predicted_runs = predictions[0, 0]
predicted_boundaries = predictions[0, 1]

print(f'Predicted Runs: {predicted_runs}')
print(f'Predicted Boundaries: {predicted_boundaries}')

Predicted Runs: 23.426967347463798
Predicted Boundaries: 3.5819385408367483

In [26]:
import joblib

joblib.dump(multi_output_regressor, 'batters_prediction.pkl')

['batters_prediction.pkl']