In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
###from google.colab import drive
###drive.mount('/content/drive')

In [3]:
#%cd /content/drive/MyDrive/Colab Notebooks

In [4]:
df = pd.read_csv('bowlers.csv')

In [5]:
df.head()

,name,team_played_against,wickets,overs_bowled,runs,team_batting_first_or_second,stadium,weather_conditions,league,type
0,Mohammed Shami,Nepal,1,7.0,29,S,Pallekele,Rain,Asia Cup,ODI
1,Mohammed Siraj,Nepal,3,9.2,61,S,Pallekele,Rain,Asia Cup,ODI
2,Hardik Pandya,Nepal,1,8.0,34,S,Pallekele,Rain,Asia Cup,ODI
3,Shardul Thakur,Nepal,1,4.0,26,S,Pallekele,Rain,Asia Cup,ODI
4,Ravindra Jadeja,Nepal,3,10.0,40,S,Pallekele,Rain,Asia Cup,ODI

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   name                          28 non-null     object
 1   team_played_against           28 non-null     object
 2   wickets                       28 non-null     int64
 3   overs_bowled                  28 non-null     float64
 4   runs                          28 non-null     int64
 5   team_batting_first_or_second  28 non-null     object
 6   stadium                       28 non-null     object
 7   weather_conditions            28 non-null     object
 8   league                        28 non-null     object
 9   type                          28 non-null     object
dtypes: float64(1), int64(2), object(7)
memory usage: 2.3+ KB

In [7]:
#names
df['name'].value_counts()

name
Mohammed Siraj     4
Hardik Pandya      4
Ravindra Jadeja    4
Shardul Thakur     3
Kuldeep Yadav      3
Jasprit Bumrah     3
Mohammed Shami     2
Axar Patel         2
Prasidh Krishna    1
Tilak Verma        1
Kudeep Yadav       1
Name: count, dtype: int64

In [8]:
df["name"].replace(['Mohammed Siraj'], 0, inplace=True)
df["name"].replace(['Hardik Pandya'], 1, inplace=True)
df["name"].replace(['Ravindra Jadeja'], 2, inplace=True)
df["name"].replace(['Shardul Thakur'], 3, inplace=True)
df["name"].replace(['Kuldeep Yadav'], 4, inplace=True)
df["name"].replace(['Jasprit Bumrah'], 5, inplace=True)
df["name"].replace(['Mohammed Shami'], 6, inplace=True)
df["name"].replace(['Axar Patel'], 7, inplace=True)
df["name"].replace(['Prasidh Krishna'], 8, inplace=True)
df["name"].replace(['Tilak Verma'], 9, inplace=True)
df["name"].replace(['Kudeep Yadav'], 10, inplace=True)

df["name"] = df["name"].astype('int64')

In [9]:
#team_played_against
df['team_played_against'].value_counts()

team_played_against
Sri Lanka     10
Nepal          6
Pakistan       6
Bangladesh     6
Name: count, dtype: int64

In [10]:
df["team_played_against"].replace(['Sri Lanka'], 0, inplace=True)
df["team_played_against"].replace(['Nepal'], 1, inplace=True)
df["team_played_against"].replace(['Pakistan'], 2, inplace=True)
df["team_played_against"].replace(['Bangladesh'], 3, inplace=True)

In [11]:

#overs_bowled
df['overs_bowled'] = df['overs_bowled'].round().astype('int64')

In [12]:
#team_batting_first_or_second
df['team_batting_first_or_second'].value_counts()

team_batting_first_or_second
S    16
F    12
Name: count, dtype: int64

In [13]:
df["team_batting_first_or_second"].replace(['S'], 0, inplace=True)
df["team_batting_first_or_second"].replace(['F'], 1, inplace=True)

In [14]:
#stadium
df['stadium'].value_counts()

stadium
R Premadasa    22
Pallekele       6
Name: count, dtype: int64

In [15]:
df["stadium"].replace(['R Premadasa'], 0, inplace=True)
df["stadium"].replace(['Pallekele'], 1, inplace=True)

In [16]:
#weather_conditions
df['weather_conditions'].value_counts()

weather_conditions
Clear    16
Rain     12
Name: count, dtype: int64

In [17]:
df["weather_conditions"].replace(['Clear'], 0, inplace=True)
df["weather_conditions"].replace(['Rain'], 1, inplace=True)

In [18]:
#league
df['league'].value_counts()

league
Asia Cup    28
Name: count, dtype: int64

In [19]:
df["league"].replace(['Asia Cup'], 0, inplace=True)

In [20]:
#type
df['type'].value_counts()

type
ODI    28
Name: count, dtype: int64

In [21]:
df["type"].replace(['ODI'], 0, inplace=True)

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.multioutput import MultiOutputRegressor
from sklearn.metrics import mean_squared_error

X = df.drop(['runs', 'wickets'], axis=1)
y = df[['runs', 'wickets']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

base_regressor = Ridge()

multi_output_regressor = MultiOutputRegressor(base_regressor)

multi_output_regressor.fit(X_train, y_train)

predictions = multi_output_regressor.predict(X_test)

mse_runs = mean_squared_error(y_test['runs'], predictions[:, 0])
mse_wickets = mean_squared_error(y_test['wickets'], predictions[:, 1])

print(f'Mean Squared Error (Runs): {mse_runs}')
print(f'Mean Squared Error (Wickets): {mse_wickets}')

Mean Squared Error (Runs): 28.357104903532175
Mean Squared Error (Wickets): 2.264333194503347

In [23]:
import pandas as pd

# Assuming multi_output_regressor is your trained model
# and X_train is the feature set used for training

# Create a new DataFrame with your own values
new_data = pd.DataFrame({
    'name': [1],
    'team_played_against': [1],
    'overs_bowled': [4],
    'team_batting_first_or_second': [0],
    'stadium': [1],
    'weather_conditions': [0],
    'league': [0],
    'type': [0]
})

# Use the trained model to make predictions on the new data
predictions = multi_output_regressor.predict(new_data)

# Extract the predicted values for runs and wickets
predicted_runs = predictions[0, 0]
predicted_wickets = predictions[0, 1]

print(f'Predicted Runs: {predicted_runs}')
print(f'Predicted Wickets: {predicted_wickets}')

Predicted Runs: 24.263635496459642
Predicted Wickets: 0.5923989410798842

In [24]:
import pandas as pd

# Assuming multi_output_regressor is your trained model
# and X_train is the feature set used for training

# Create a new DataFrame with your own values
new_data = pd.DataFrame({
    'name': [1],
    'team_played_against': [1],
    'overs_bowled': [10],
    'team_batting_first_or_second': [0],
    'stadium': [1],
    'weather_conditions': [1],
    'league': [0],
    'type': [0]
})

# Use the trained model to make predictions on the new data
predictions = multi_output_regressor.predict(new_data)

# Extract the predicted values for runs and wickets
predicted_runs = predictions[0, 0]
predicted_wickets = predictions[0, 1]

print(f'Predicted Runs: {predicted_runs}')
print(f'Predicted Wickets: {predicted_wickets}')

Predicted Runs: 46.590026002556684
Predicted Wickets: 2.215756870842516

In [25]:
import joblib

joblib.dump(multi_output_regressor, 'bowlers_prediction.pkl')

['bowlers_prediction.pkl']